* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: #f8f7f3;
}

/* font-family: 'Overpass', sans-serif;
font-family: 'Montserrat', sans-serif; */

header {
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #1a24fb;
}

.header-name {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
  color: #f8f7f3;
  text-transform: uppercase;
}

.header-icon .material-icons {
  color: #f8f7f3;
  font-size: 24px;
}

.cards-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 100px 20px;
  padding: 40px;
  max-width: 380px;
  width: 100%;
  border: 1px #1a24fb solid;
}

h1 {
  font-size: 36px;
  color: #1a24fb;
}

p {
  font-size: 12px;
  color: #1a24fb;
  letter-spacing: 0.2em;
  font-weight: 400;
}

section {
  color: #1a24fb;
  font-size: 16px;
  font-weight: 400;
}

button {
  width: 100%;
  height: 18px;
  font-size: 14px;
  color: #1a24fb;
  text-align: left;
}

button:hover {
  color: #f8f7f3;
  background-color: #1a24fb;
}
.material-icons .arrow {
  color: #1a24fb;
  font-size: 18px;
}

.arrow:hover {
  color: #f8f7f3;
  background-color: #1a24fb;
}
.card-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
